:root {
    --color-dark: #27292a;
    --color-darkest: #1f2122;
    --color-light: #fff;
    --color-primary: #ec6090;

    --color-bg-body: var(--color-darkest);

    --distance-primary: 50px;
    --padding-primary: var(--distance-primary);
    --margin-primary: var(--distance-primary);
    --border-radius-primary: calc(var(--distance-primary) /2);

    --font-weigth-bold: 700;
    --font-weigth-normal: 300;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap');

body {
    background-color: var(--color-bg-body);
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}