.reduceForm {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.reduceForm .color {
  font: 4em;
  font-weight: 800;
  line-height: 80px;
}
.btn-submit {
  display: flex;
  justify-content: space-between;
}
.error {
  display: none;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* top: 94%; */
  /* left: 50%; */
  font-size: 38px;
  color: red;
}

/* react spring  */

.anim {
  margin-left: -22px;
  margin-bottom: 10px;
}
.anim h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}