.reduceForm {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.btn-submit {
  display: flex;
  justify-content: space-between;
}
.error {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 58%;
  left: 50%;
  font-size: 38px;
  color: red;
}
.error.show {
  animation: bounce 0.5s linear;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 70%;
  }
  70% {
    top: 40%;
  }
  100% {
    top: 58%;
  }
}

.error.hide {
  animation: bounceHide 5s linear;
}
@keyframes bounceHide {
  0% {
    top: 58%;
  }
  100% {
    top: 0%;
  }
}
